In [1]:
import datetime

In [2]:
t = datetime.time(5,25,1)

In [3]:
print t

05:25:01

In [5]:
t.hour

5

In [6]:
t.microsecond

0

In [9]:
print datetime.time.min

00:00:00

In [10]:
print datetime.time.max

23:59:59.999999

In [11]:
print datetime.time.resolution

0:00:00.000001

In [12]:
today = datetime.date.today()

In [13]:
print today

2016-04-07

In [14]:
today.day

7

In [15]:
today.isoweekday

In [16]:
today.timetuple()

time.struct_time(tm_year=2016, tm_mon=4, tm_mday=7, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=98, tm_isdst=-1)

In [17]:
today.month

4

In [18]:
datetime.date.min

datetime.date(1, 1, 1)

In [19]:
datetime.date.max

datetime.date(9999, 12, 31)

In [21]:
print datetime.date.resolution

1 day, 0:00:00

In [22]:
d1 = datetime.date(2015,4,1)

In [23]:
print d1

2015-04-01

In [24]:
d2 = d1.replace(year=1990)

In [25]:
print d2

1990-04-01

In [26]:
d1-d2

datetime.timedelta(9131)

In [27]:
print d1 - d2

9131 days, 0:00:00